<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/api.css' />
    <link rel='stylesheet' href='/stylesheets/api.css' />
    <link type="text/css" rel="stylesheet" href="/stylesheets/layout-default-latest.css" />

    <STYLE type="text/css">

        /* remove padding from the IFRAME-pane */
        .ui-layout-pane-center {
            padding: 	0;
        }
        /* masks are normally transparent - make them visible (must 'override' default) */
        .ui-layout-mask {
            background:	#C00;
            opacity:	.20;
            filter:		alpha(opacity=20); /* IE */
        }

        /**
         *	This CSS below is only for cosmetic and demo purposes
         *	Nothing here affects the appearance of the layout
         */

        body {
            background: #ffffff;
            font-family:	Arial, sans-serif;
            *font-size:		0.85em;
        }
        p {
            margin:			1em 0;
        }

        .area
        {
            height: 100px;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #ADD8E6;
            position: relative;

        }

    </STYLE>

    <link rel='stylesheet' href='/bootstrap-3.3.7-dist/css/bootstrap.css' />
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/jquery-ui-latest.js"></script>
    <script src="/javascripts/jquery.layout-latest.js"></script>
    <script src="/bootstrap-3.3.7-dist/js/bootstrap.js"></script>


    <script>
        $(document).ready(function() {
            <% if( reportSubType==1 ){ %>
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<%= projectName%> 상태별 현황'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        <% for(var i in viewData) { %>
                        '<%= viewData[i].name %>',
                        <% } %>
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    <% colInfo.forEach(function(issusName){ %>
                    {
                        name : '<%- issusName %>',
                        data : [
                            <% for(var idx1 in viewData) { %>
                            <%= viewData[idx1].issueCountInfo[issusName] %>,
                            <% } %>
                        ]
                    },
                    <% }); %>
                ]
            });

            Highcharts.chart('container3', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<%= projectName%> 소모성업무 현황'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        <% for(var i in viewData3) { %>
                        '<%= viewData3[i].name %>',
                        <% } %>
                    ],
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y} </b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    <% colInfo.forEach(function(issusName){ %>
                    {
                        name : '<%- issusName %>',
                        data : [
                            <% for(var idx1 in viewData3) { %>
                            <%= viewData3[idx1].issueCountInfo[issusName] %>,
                            <% } %>
                        ]
                    },
                    <% }); %>
                ]
            });
            <% } %>

            Highcharts.chart('container2', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '<%= projectName %> 프로젝트별 현황'
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: [
                        <% for(var i in viewData2) { %>
                        '<%= viewData2[i].name %>',
                        <% } %>
                    ],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                tooltip: {
                    valueSuffix: ' '
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -40,
                    y: 80,
                    floating: true,
                    borderWidth: 1,
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: [

                    <% colInfo2.forEach(function(issusName){ %>
                    {
                        name : '<%- issusName %>',
                        data : [
                            <% for(var idx1 in viewData2) { %>
                            <%= viewData2[idx1].issueCountInfo[issusName] %>,
                            <% } %>
                        ]
                    },
                    <% }); %>
                ]
            });
        });

    </script>
</head>
<body>
<script src="/Highcharts-5.0.9/api/js/highcharts.js"></script>
<script src="/Highcharts-5.0.9/api/js/exporting.js"></script>


<div class="ui-layout-center">

    <div id="container" style="min-width: 310px;  margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px;  margin: 0 auto"></div>
    <div id="container3" style="min-width: 310px;  margin: 0 auto"></div>


</div>

<!--div class="ui-layout-south" style="height: 50%">
    <IFRAME id="childIframe" name="childIframe"  width="100%" height="100%" scrolling="auto" src="/report/project/<%= prjID %>"></IFRAME>
</div-->


<script type="text/javascript">
    $(document).ready(function () {
        $('body').layout({ applyDemoStyles: true });
    });
</script>

</body>
</html>
